<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="nivax-007-3078-491d-ad18-1a264f01a7cc" Publisher="CN=Abu Bakar Sadeeq" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Refinancer</DisplayName>
    <PublisherDisplayName>Ramez</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="nivax.App">
      <VisualElements DisplayName="Refinancer" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Refinancer" ForegroundText="light" BackgroundColor="#2A6219">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\wideLogo.png" ShortName="Refinancer" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#2A6219" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
</Package>